[core]
  editor         = vim
  pager          = less
  autocrlf       = false
  filemode       = true
  quotepath      = false
  excludesfile   = ~/.git.d/ignore
  attributesFile = ~/.git.d/attributes

[color]
  branch      = true
  diff        = true
  grep        = true
  interactive = true
  pager       = true
  showbranch  = true
  status      = true
  ui          = true

[help]
  autocorrect = 1

[push]
  default = simple

[rerere]
  enable = true

[grep]
  linenumber = true

[include]
  path = ~/.git.d/local
  path = ~/.git.d/alias
  path = ~/.git.d/ghq

[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true

[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true

[merge]
  tool = vimdiff

[diff "xlsx"]
  binary = true
  textconv = ~/.go/bin/git-xlsx-textconv

[hub]
  protocol = https
